    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>We can rely on ourselves</title>
    <link rel="stylesheet" type="text/css" media="screen" charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/static/first.css" />
    <script type="text/javascript" src="/static/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/first.css" />
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <script type="text/javascript" src="../static/jquery.min.js"></script>
    <script type="text/javascript" src="../static/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/csi.min.js"></script>

