$def with (cands,mon)

<!DOCTYPE HTML>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>北大日本校友会投票系统</title>
    <link charset="utf-8" media="screen" rel="stylesheet" type="text/css"/>
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <link href="/static/first.css" rel="stylesheet" type="text/css"/>
    <script src="/static/jquery.min.js" type="text/javascript"></script>
    <script src="/static/bootstrap.min.js" type="text/javascript"></script>
    <script type="text/javascript">
      jQuery(document)
        .ready(function() {
          jQuery("#vote")
            .click(function() {
              var i_string = jQuery('#t1').val();

              <!--console.log(input_string);-->
              var values = [];
              $$("input[name='candidates']:checked")
                .each(function() {
                  values.push($$(this).attr('value'));
                  <!--console.log(input_string);-->
                });
              var p_obj = new Object();
              p_obj.i_string = i_string;
              p_obj.values = values;
              jQuery.ajax({
                type: "POST",
                data: JSON.stringify(p_obj),
                success: function(data) {
                  <!--if(jQuery("#c1").attr('checked'))-->
                  jQuery('#foo').html(data);

                }
              });
              return false;
            });
        });
    </script>

  </head>
  <body role='document'>
    <div  style="display: none;">
      <img src="/static/c.jpg"/>
    </div>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button aria-controls="navbar" aria-expanded="false" class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/index">投票系统</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="/index">投票首页</a>
            </li>
            <li>
              <a href="/query">状态查询</a>
            </li>
            <li>
              <a href="/summary">投票汇总</a>
            </li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container theme-showcase" role="main">
      <div class="jumbotron">
        <h1>参与投票，支持民主</h1>
        <p>北京大学日本校友会2015校友大会网上投票系统。</p>
      </div>
      <div class="">
        <h2>
          设置密码
          <small>请设置个人密码，并投票</small>
        </h2>
        <form  action="" method="post">
          <div class="form-group">
            <input class="form-control" data-original-title="" id="t1" placeholder="您所设置的密码将可用于验证投票的结果。" title="" type="text" value=""/>
            <div class="zxx_align_box_2">
              <span class="zxx_align_word" id="foo"></span>
            </div>
          </div>
          <h3>理事候选</h3>	  
          <ul class="list-unstyled">
            $for cand in cands:
            <li>
              <label>
                <input name="candidates" type="checkbox" value=$cand.id>$cand.name
              </label>
            </li>
          </ul>
	  <h3>监事候选</h3>
	  <ul class="list-unstyled">
            $for cand in mon:
            <li>
              <label>
                <input name="candidates" type="checkbox" value=$cand.id>$cand.name
              </label>
            </li>
          </ul>

          <div id=""><button type="submit" class="btn btn-primary" id="vote">投票</button></div>
        </div>
      </form>
    </div>
    <footer class="footer">
      <div class="container text-right">
        <p class="text-muted">本系统由王志鹏校友专为本次校友大会设计开发。</p>
      </div>
    </footer>
  </body>
</html>
