$def with (cands)

<!DOCTYPE HTML>
<html>
  <head>
    <link rel="import" href="./header.html">
    <script type="text/javascript">
      jQuery(document).ready(function() {
      jQuery("#vote").click(function() {
      var i_string = jQuery('#t1').val();
      
      <!--console.log(input_string);-->
      var values = new Array();
      $$("input[@name='user_group[]']:checked").each(function() {
      values.push($$(this).attr('value'));
      <!--console.log(input_string);-->
      });
      var p_obj = new Object();
      p_obj.i_string=i_string;
      p_obj.values=values;
      jQuery.ajax({
      type: "POST",
      data: JSON.stringify(p_obj),
      success: function(data) {
      <!--if(jQuery("#c1").attr('checked'))-->
      jQuery('#foo').html(data);

      },
      });
      return false;
      });
      });
    </script>

  </head>
  <body role='document'>
    <nav data-include='nav.html'></nav>
    <div class="container theme-showcase" role="main">
      <div class="jumbotron">
        <h1>参与投票，支持民主</h1>
        <p>欢迎使用北京大学日本校友会2015校友大会网上投票系统，请投出您神圣的选票。</p>
      </div>
      <div class="">
        <h2>
          设置密码<small>请设置个人密码，并投票</small>
        </h2>
        <p>您所设置的密码将可用于验证投票的结果。</p>
        <div class="input-group">
          <input id="t1" type="text" class="form-control" value="" data-original-title="" title=""/>
        </div>
        <div class="zxx_align_box_2">
          <span id="foo" class="zxx_align_word"></span>
        </div>
      </div>
      <ul class="list-unstyled">
        $for cand in cands:
        <li>
          <input type="checkbox"  name="candidates" value=$cand.id>$cand.name<BR>
        </li>
      </ul>
      <div id=""><input type="submit" value="投票" id="vote" class="btn btn-primary" data-original-title="" title=""></div>
    </div>
    <footer data-include='footer.html'></footer>
  </body>
</html>
