$def with (cands)

<!DOCTYPE HTML>
<html>
  <head>
    <link href="./header.html" rel="import">
    <script type="text/javascript">
      jQuery(document)
        .ready(function() {
          jQuery("#vote")
            .click(function() {
              var i_string = jQuery('#t1').val();

              <!--console.log(input_string);-->
              var values = new Array();
              $$("input[@name='user_group[]']:checked")
                .each(function() {
                  values.push($$(this).attr('value'));
                  <!--console.log(input_string);-->
                });
              var p_obj = new Object();
              p_obj.i_string = i_string;
              p_obj.values = values;
              jQuery.ajax({
                type: "POST",
                data: JSON.stringify(p_obj),
                success: function(data) {
                  <!--if(jQuery("#c1").attr('checked'))-->
                  jQuery('#foo').html(data);

                }
              });
              return false;
            });
        });
    </script>

  </head>
  <body role='document'>
    <nav data-include='nav.html'></nav>
    <div class="container theme-showcase" role="main">
      <div class="jumbotron">
        <h1>???ä¸????ç¥?ï¼???????æ°?ä¸?</h1>
        <p>æ¬¢è??ä½¿ç?????äº?å¤§å????¥æ????¡å??ä¼?2015??¡å??å¤§ä??ç½?ä¸????ç¥?ç³»ç??ï¼?è¯·æ????ºæ??ç¥???£ç?????ç¥????</p>
      </div>
      <div class="">
        <h2>
          è®¾ç½®å¯????
          <small>è¯·è?¾ç½®ä¸?äººå?????ï¼?å¹¶æ??ç¥?</small>
        </h2>
        <p>??????è®¾ç½®???å¯????å°???????äº?éª?è¯????ç¥????ç»???????</p>
        <div class="input-group">
          <input class="form-control" data-original-title="" id="t1" title="" type="text" value=""/>
        </div>
        <div class="zxx_align_box_2">
          <span class="zxx_align_word" id="foo"></span>
        </div>
      </div>
      <ul class="list-unstyled">
        $for cand in cands:
        <li>
          <input name="candidates" type="checkbox" value=$cand.id>$cand.name
          <BR></li>
        </ul>
        <div id=""><input class="btn btn-primary" data-original-title="" id="vote" title="" type="submit" value="???ç¥?"></div>
      </div>
      <footer data-include='footer.html'></footer>
    </body>
  </html>
