<!DOCTYPE HTML>
<html>

<head>
  <link href="./header.html" rel="import">
  <title>administration</title>
  <script type="text/javascript">
    jQuery(document)
      .ready(function() {
        jQuery("#apply")
          .click(function() {
            var i_str = jQuery('#t1').val();
            var j_str = jQuery('#t2').val();
            <!--console.log(input_string);-->
            var p_obj = new Object();
            p_obj.i_str = i_str;
            p_obj.j_str = j_str;
            jQuery.ajax({
              type: "POST",
              data: JSON.stringify(p_obj),
              success: function(data) {
                <!--if(jQuery("#c1").attr('checked'))-->
                jQuery('#foo').html(data);

              }
            });
            return false;
          });
      });
  </script>
</head>

<body>
  <nav data-include='nav.html'></nav>
  <div class="container theme-showcase" role="main">
    <h1>管理员申请</h1>
    <p>请设置个人密码，并申请，请不要向任何人泄漏此密码</p>
    <form>
      <div class="form-group">
        <label for="t1">个人密码</label>
        <input type="text" class="form-control" id="t1">
      </div>
      <div class="form-group">
        <label for="t2">昵称</label>
        <input type="text" class="form-control" id="t2">
      </div>
      <button type="submit" class="btn btn-primary" id="apply">管理员申请</button>
      <div class="zxx_align_box_2">
        <span class="zxx_align_word" id="foo"></span>
      </div>
    </form>
  </div>
  <footer data-include='footer.html'></footer>
</body>

</html>