$def with (vs,cands)

<!DOCTYPE HTML>
<html>
  <head>
    <link href="/static/header.html" rel="import">
    <title>投票公示</title>
  </head>
  <body>
    <nav data-include='/static/nav.html'></nav>
    <div class="container theme-showcase" role="main">
      <h1>北京大学日本校友会2015校友大会网上投票公示</h1>
      <h2>投票情况</h2>
      <table class="table table-striped table-hover">
        <tr>
          <td>
            <span>公示查询 id
            </span>
          </td>
          <td>
            <span>投票情况</span>
          </td>
        </tr>
        $for cand in cands:
        <tr>
          <td>
            <span>$cand.not_key</span>
          </td>
          <td>
            <span>$cand.context</span>
          </td>
        </tr>

      </table>
      <h3>投票成功校友名单</h3>
      <ul class="list-unstyled">
        $for v in vs:
        <li>$v</li>
      </ul>
    </div>
    <footer data-include='/static/footer.html'></footer>
  </body>
</html>
