<!DOCTYPE HTML>
<html>

<head>
  <link href="/templates/header.html" rel="import">
  <title>投票查询</title>
  <script type="text/javascript">
    jQuery(document)
      .ready(function() {
        jQuery("#query")
          .click(function() {
            var i_string = jQuery('#t1').val();

            <!--console.log(input_string);-->
            var p_obj = new Object();
            p_obj.i_str = i_string;
            jQuery.ajax({
              type: "POST",
              data: JSON.stringify(p_obj),
              success: function(data) {
                <!--if(jQuery("#c1").attr('checked'))-->
                jQuery('#foo').html(data);

              }
            });
            return false;
          });
      });
  </script>

</head>

<body>
  <nav data-include='/templates/nav.html'></nav>
  <div class="container theme-showcase" role="main">
    <h1>北京大学日本校友会2015校友大会网上投票系统</h1>
    <p>请使用个人密码，查询投票情况</p>
    <form>
      <div class="form-group">
        <label for="t1">个人密码</label>
        <input type="text" class="form-control" id="t1">
      </div>
      <button type="submit" class="btn btn-primary" id="query">查询</button>
      <div class="zxx_align_box_2">
        <span class="zxx_align_word" id="foo"></span>
      </div>
    </form>
  </div>
  <footer data-include='/templates/footer.html'></footer>
</body>

</html>