$def with (vs,cands)

<!DOCTYPE HTML>
<html>
  <head>
    <link href="./header.html" rel="import">
    <title>投票汇总</title>
  </head>
  <body>
    <nav data-include='nav.html'></nav>
    <div class="container theme-showcase" role="main">
      <h1>北京大学日本校友会2015校友大会网上投票汇总</h1>
      <h3>投票情况（90%随机采样）</h3>
      <table class="table table-striped table-hover">
        <thead>
          <td>
            <span>姓名</span>
          </td>
          <td>
            <span>得票数</span>
          </td>
        </thead>
        $for cand in cands:
        <tr>
          <td>
            <span>$cand.name</span>
          </td>
          <td>
            <span>$cand.count</span>
          </td>
        </tr>
      </table>
      <h3>投票成功校友名单</h3>
      <ul class="list-unstyled">
        $for v in vs:
        <li>$v</li>
      </ul>
    </div>
    <footer data-include='footer.html'></footer>
  </body>
</html>
