<!DOCTYPE HTML>
<html>

<head>
  <link href="/templates/header.html" rel="import">
  <title>administration</title>
  <script type="text/javascript">
    jQuery(document)
      .ready(function() {
        jQuery("#verify")
          .click(function() {
            var i_str = jQuery('#t1').val();
            var j_str = jQuery('#t2').val();
            var k_str = jQuery('#t3').val();
            <!--console.log(input_string);-->
            var p_obj = new Object();
            p_obj.i_str = i_str;
            p_obj.j_str = j_str;
            p_obj.k_str = k_str;
            jQuery.ajax({
              type: "POST",
              data: JSON.stringify(p_obj),
              success: function(data) {
                <!--if(jQuery("#c1").attr('checked'))-->
                jQuery('#foo').html(data);

              }
            });
            return false;
          });
      });
  </script>

</head>

<body>
  <nav data-include='/templates/nav.html'></nav>
  <div class="container theme-showcase" role="main">
    <h1>投票验证</h1>
    <p>请输入管理员密码，要验证id，以及备注</p>
    <form>
      <div class="form-group">
        <label for="t1">管理员密码</label>
        <input type="text" class="form-control" id="t1">
      </div>
      <div class="form-group">
        <label for="t2">被验证id</label>
        <input type="text" class="form-control" id="t2">
      </div>
      <div class="form-group">
        <label for="t3">备注（校友实名信息）</label>
        <input type="text" class="form-control" id="t3">
      </div>
      <button type="submit" class="btn btn-primary" id="verify">投票验证</button>
      <div class="zxx_align_box_2">
        <span class="zxx_align_word" id="foo"></span>
      </div>
    </form>
  </div>
  <footer data-include='/templates/footer.html'></footer>
</body>

</html>